@import "tailwindcss";

@theme {
  --font-heading: var(--font-retrobyte);
  --font-body: var(--font-easvhs);
  --color-background: #060010;
  --color-primary: #e6ccff;
}

@theme inline {
  --font-dreamer: var(--font-dreamer);
}

@utility header-glow {
  color: #362a48;
  text-shadow: 0px 0px 20px #e6ccff10;
  position: relative;

  &::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    text-shadow: 0px 0px 16px #e6ccff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

@utility header-glow-smaller {
  color: #362a48;
  text-shadow: 0px 0px 20px #e6ccff10;
  position: relative;

  &::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    text-shadow: 0px 0px 8px #e6ccff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

body {
  font-family: var(--font-easvhs);
  background-color: var(--color-background);
  color: var(--color-primary);
}
